@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/*For D3 svg */
path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.node {
  cursor: pointer;
}